[build]
builder = "nixpacks"
buildCommand = "cd hangouts-3.0 && rm -rf .next node_modules package-lock.json && npm install && npx prisma generate --force && npm run build"

[deploy]
startCommand = "cd hangouts-3.0 && npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[env]
PORT = "8080"
NODE_ENV = "production"