[build]
builder = "nixpacks"

[deploy]
startCommand = "cd hangouts-3.0 && chmod +x node_modules/.bin/* && npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"

[env]
NODE_ENV = "production"
